<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.uts">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Uts">
        <activity android:name=".MainMenu"></activity>
        <activity android:name=".AirMineral"/>
        <activity android:name=".CumiBakar"/>
        <activity android:name=".CumiSausPadang"/>
        <activity android:name=".CumiSausTiram"/>
        <activity android:name=".IkanBakarKecap"/>
        <activity android:name=".IkanBakarMentega"/>
        <activity android:name=".IkanSausPadang"/>
        <activity android:name=".IkanSausTiram"/>
        <activity android:name=".Jeruk"/>
        <activity android:name=".Kelapa"/>
        <activity android:name=".KepitingSausPadang"/>
        <activity android:name=".LemonTea"/>
        <activity android:name=".LobsterSausPadang"/>
        <activity android:name=".makanan"/>
        <activity android:name=".minuman"/>
        <activity android:name=".Teh"/>
        <activity android:name=".UdangBakar"/>
        <activity android:name=".UdangSausPadang"/>
        <activity android:name=".UdangSausTiram"/>

        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


    </application>

</manifest>